{# layout principal #}
<!DOCTYPE HTML>

<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>Avosoft</title>

    <link rel="stylesheet" href="{{url('index.index')}}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{url('index.index')}}bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{url('index.index')}}bootstrap/css/bootstrap-notify.css">
    <link rel="stylesheet" href="{{url('index.index')}}css/default.css">
    <link rel="stylesheet" href="{{url('index.index')}}css/jquery.css">
    <link rel="stylesheet" href="{{url('index.index')}}css/data.css">


    <script type="text/javascript" src="{{url('index.index')}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}js/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{url('index.index')}}js/jquery.dataTables.js"></script>



</head>
<body data-spy="scroll" data-target=".navbar">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Avosoft</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">

                    <b>Nous sommes le {{ "now"|date("d/m/Y") }} </b>
                </p>
                <ul class="nav" role="navigation">
                    <li><a href="{{path("index.index")}}">Accueil</a> </li>
                    <li><a href="{{path("prestation.index")}}">Prestation</a> </li>

                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Client <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="{{path("client.ajouter")}}">Ajouter</a></li>
                            <li><a tabindex="-1" href="{{app.url_generator.generate('client.clientAutocomplete',{'chemin':1}) }}">Modifier</a></li>
                            <li><a tabindex="-1" href="{{app.url_generator.generate('client.clientAutocomplete',{'chemin':2}) }}">Supprimer</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Dossier <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a tabindex="-1" href="{{ path("dossier.ajouter") }}">Ajouter</a></li>
                            {#<li><a tabindex="-1" href="{{ path("dossier.choisir") }}">Modifier</a></li>#}
                            <li><a tabindex="-1" href="{{ path("dossier.delete") }}">Supprimer</a></li>
                        </ul>
                    </li>
                    <li><a href="{{path("index.about")}}" >About</a></li>
                    <li><a href="{{path("index.info")}}" >Info</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
{% macro display_alert(_class,message) %}
    {% if message %}
        <div class='alert alert-{{_class|default('error')}}'><a class='close' data-dismiss='alert'>x</a>{{message}}</div>
    {% endif %}
{% endmacro %}
{# appel de macro #}
{{ _self.display_alert("error",app.session.get('error') ) }}
{{ _self.display_alert("success",app.session.set("success","success")) }}


<div id="content">

    {% block content %}
    {%endblock%}

</div>

<footer>
    <div class="pull-center"><p>Avosoft &copy; <a href="http://www.formatux.be">Formatux</a></p></div>
</footer>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>


    $("body").bind("click", function (e) {

        $('.dropdown-toggle, .menu').parent("li").removeClass("open");

    });

    $(".dropdown-toggle, .menu").click(function (e) {

        var $li = $(this).parent("li").toggleClass('open');

        return false;

    });
</script>
</body>
</html>